.container {
	position: absolute;
	top: 54px;
	left: -10px;
	z-index: 1;
}

.line {
	width: 1px;
	background-color: #d9d9d9;
}

.line_one {
	height: 2040px;
	margin-left: 22px;
}

.circle {
	margin-left: 16px;
	margin-top: 10px;
	margin-bottom: 9px;
}

.boom_logo {
	margin-bottom: 10px;
}

.line_two {
	height: 503px;
	margin-left: 22px;
}

.line_three {
	height: 594px;
	margin-left: 22px;
}

.line_four {
	height: 444px;
	margin-left: 22px;
}

.line_five {
	height: 808px;
	margin-left: 22px;
}

.pencil {
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.smile {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.line_six {
	height: 1554px;
	margin-left: 22px;
}

.heart {
	margin-left: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media (max-width: 1439px) {
	.container {
		top: 40px;
		/* left: -18px; */
		left: -48px;
	}

	.line_one {
		height: 1615px;
	}

	.line_two {
		height: 306px;
	}

	.line_three {
		height: 376px;
	}

	.line_four {
		height: 271px;
	}

	.line_five {
		height: 620px;
	}

	.line_six {
		height: 1055px;
	}
}

@media (max-width: 1023px) {
	.line_one {
		height: 1583px;
	}

	.line_two {
		height: 189px;
	}

	.line_three {
		height: 245px;
	}

	.line_four {
		height: 204px;
	}

	.line_five {
		height: 1009px;
	}

	.line_six {
		height: 979px;
	}
}

@media (max-width: 767px) {
	.container {
		display: none;
	}
}
