.button {
	cursor: pointer;
	font-family: 'Helvetica';
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	padding: 12px 32px 12px 32px;
	letter-spacing: -0.215833px;
	border-radius: 8px;
	height: 42px;
}

.fun {
	background: rgba(53, 25, 136, 0.1);
	border: none;
	border-radius: 100px;
}

.fun--light {
	background: #ffffff;
	border: none;
	border-radius: 100px;
}

.dark {
	background: #3e1aab;
	color: #ffffff;
	border: none;
}

.transparent {
	background: transparent;
	border: 1px solid #ffffff;
	color: white;
	font-weight: bold;
	padding: 0px;
}

.light {
	background: #ffffff;
	border: 1px solid #3e1aaa;
	color: #3e1aaa;
}

.large {
	font-family: 'Inter';
	font-weight: 500;
	width: 100%;
}
.medium {
	width: 144px;
	font-size: 16px;
	line-height: 18px;
	padding: 0px;
}

.big {
	width: 191px;
	padding: 12px 32px;
	height: 50px;
	font-size: 18px;
	line-height: 26px;
}

.small {
	padding: 0px;
	width: 114px;
	height: 32px;
}
