.section {
	background-color: #f4f6f9;
	border-top: 1px solid #e2e2e2;
	display: flex;
	justify-content: center;
	gap: 56px;
	height: 551px;
}

.section__first_container {
	margin-left: 50px;
}

.section__compaines {
	margin-top: 31px;
	display: flex;
	align-items: center;
	gap: 25px;
}

.section__celebrate-image {
	width: 367px;
	height: 116px;
}

.section__image {
	width: 657px;
	height: 647px;
	margin-top: 31px;
	position: relative;
	z-index: 1000;
}

.section__text {
	color: #162d3d;
	font-size: 20px;
	line-height: 26px;
	width: 568px;
	margin: 17px 0px 30px 0px;
}

.section__flex {
	display: flex;
	align-items: center;
	gap: 15px;
}

.section__watch-container {
	display: flex;
	align-items: center;
	gap: 7px;
}

.section__watch {
	font-weight: 700;
	font-size: 16px;
	line-height: 26px;
	margin: 0px;
	color: #170a3f;
	cursor: pointer;
}

.setion__compaines {
	margin-top: 31px;
	display: flex;
	gap: 25px;
}

.section__first {
	padding-top: 99px;
	position: relative;
}

@media (max-width: 1439px) {
	.section {
		gap: 24px;
		height: 472px;
	}

	.section__first_container {
		margin-left: 0px;
	}

	.section__compaines {
		margin-top: 24px;
		gap: 24px;
	}

	.section__celebrate-image {
		width: 285px;
		height: 90px;
	}

	.section__text {
		font-size: 16px;
		width: 420px;
		margin: 12px 0px 24px 0px;
	}

	.setion__compaines {
		margin-top: 25px;
	}

	.section__image {
		width: 460px;
		height: auto;
		margin-top: 35px;
	}
}

@media (max-width: 1023px) {
	.section__celebrate-image {
		width: 292px;
		height: auto;
	}

	.section {
		gap: 24px;
		height: 472px;
	}

	.section__compaines {
		margin-top: 25px;
	}

	.section__image {
		width: 332px;
		margin-top: 65px;
	}

	.section__text {
		width: 292px;
	}

	.setion__compaines {
		margin-top: 24px;
	}
}

@media (max-width: 767px) {
	.section {
		display: block;
	}

	.section {
		gap: 24px;
		height: auto;
	}

	.section__compaines {
		margin-top: 15px;
		gap: 10px;
		justify-content: center;
	}

	.section__compaines img {
		width: 81px;
		height: 19px;
	}

	.section__celebrate-image {
		width: 185px;
		height: 52px;
		margin: 0 auto;
		display: block;
	}

	.section__text {
		max-width: 329px;
		text-align: center;
		font-size: 14px;
		margin: 10px auto 15px auto;
	}

	.section__image {
		display: none;
	}

	.section__first {
		padding: 15px 0px 52px 0px;
	}

	.section__image--mobile {
		padding: 0 33px;
		width: 100%;
		height: auto;
		margin: 20px auto 0px auto;
		display: block;
	}

	.setion__compaines {
		gap: 10px;
		margin-top: 15px;
		justify-content: center;
	}

	.setion__compaines img {
		width: 81px;
		height: 19px;
	}

	.section__watch {
		font-size: 14px;
	}

	.section__watch-container {
		gap: 5px;
	}

	.section__flex {
		justify-content: center;
	}
}
