.footer, .footer__with__background{
width: calc(100%-96px);
padding-top: 140px;
padding-bottom: 62px;
background-color: white;
display: flex;
align-items: flex-start;
justify-content: center;
gap: 80px;
flex-direction: row;
flex-wrap: wrap;
}

.footer__with__background{
    background: linear-gradient(360deg, rgba(12, 12, 12, 0) 9.13%, rgba(60, 0, 241, 0) 23.95%, rgba(140, 110, 230, 0.3) 104%, rgba(147, 108, 231, 0.3) 104%);
    position: relative;
    padding-top: 220px;
    margin-top: -140px;
}
.footer__column__wrapper,
.footer__column__fields__wrapper,
.social__wrapper {
	display: flex;
	flex-direction: column;
	width: 218px;
	align-items: flex-start;
	justify-content: center;
	gap: 18px;
}
.footer__column__title {
	font-size: 15px;
	line-height: 18px;
	color: #0c0c0c;
	margin: 0;
}
.social__wrapper > h3 {
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 17px;
	color: #0c0c0c;
	font-family: '__Inter_9c9965', '__Inter_Fallback_9c9965';
}
.footer__column__fields__wrapper {
	gap: 12px;
}
.footer__column__field {
	font-size: 13px;
	line-height: 142.7%;
	color: #606060;
	text-decoration: none;
}
.social__wrapper {
	width: 218px;
	gap: 26px;
}
.footer__privacy {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 24px;
}
.footer__privacy > div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 10px;
}
.footer__privacy > div > a {
	text-decoration: none;
	font-size: 10px;
	line-height: 142.7%;
	color: #606060;
	font-family: '__Inter_9c9965', '__Inter_Fallback_9c9965';
}
.social__icon__wrapper {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 16px;
}
.social__icon {
	cursor: pointer;
}
@media (max-width: 1439px) {
	.footer {
		gap: 60px;
		width: calc(100%-40px);
		padding-top: 140px;
	}
	.footer__column__wrapper,
	.footer__column__fields__wrapper {
		display: flex;
		flex-direction: column;
		width: 153px;
		align-items: flex-start;
		justify-content: center;
		gap: 12px;
	}
	.social__wrapper {
		width: 216px;
		margin-left: -36px;
		gap: 24px;
		/* padding-left: 30px; */
	}
	.footer__logo {
		width: 42px;
		height: 42px;
		margin-right: 16px;
	}
	.footer__column__wrapper {
		gap: 16px;
	}
	.social__icon__wrapper {
		padding-bottom: 8px;
	}

    .footer__with__background{
        padding-top: 210px;
        margin-top: -118px;
    }
}
@media (max-width: 1023px) {
    .social__wrapper{
        width: 500px;
        align-items: center;
        justify-content: center;
        gap: 24px;
        margin: 0;
    }
   
    .footer__privacy>div{
        flex-direction: row;
        gap:24px
    }
    .footer__privacy{
        flex-direction: row;
        gap:24px
    }
    .footer{
        width: calc(100%-100px);
        gap: 48px;
        padding-bottom: 32px;
    }
    .footer__with__background{
        padding-top: 220px;
        margin-top: -110px;
    }
}
@media (max-width: 767px) {
    .footer{
        width: calc(100% - 36px);
        margin: 0 auto;
        justify-content: space-between;
        gap: 12px;
        padding-top: 58px;
        padding-bottom: 8px;
    }
    .social__wrapper{
        width: 240px;
        align-items: flex-start;
        justify-content: center;
        gap: 24px;
        padding-left: 0px;
    
    }
    .footer__privacy>div{
        flex-direction: column;
        gap:12px
    }
    .footer__privacy{
        flex-direction: row;
        gap:12px
    }
  
    .footer__logo{
        display: none;
    }
    .footer__column__wrapper, .footer__column__fields__wrapper{
        width: 240px;
        padding-bottom: 12px;
    }
    .footer__with__background{
        padding: 120px 16px 32px 16px;
        margin-top: -88px;
        width: 100%;
    }
}
@media (max-width: 526px) {
    .footer{
        justify-content: flex-start;
        padding-left: 0px;
        gap: 32px;
        padding-top: 96px;
        padding-bottom: 32px;
    }
    .footer__column__wrapper, .footer__column__fields__wrapper{
        width: 300px;
        gap: 16px;
        padding: 0;
    }
    .footer__privacy>div{
        flex-direction: column;
        gap:12px
    }
    .footer__privacy{
        flex-direction: column;
        gap: 16px
    }
    .footer__privacy>div{
        gap: 16px
    }
    .social__wrapper{
        gap: 16px;
       
    }
    .footer__privacy>div>a, .footer__column__field{
        font-size: 14px;
        line-height: 19.98px;
        color: #606060;
    }
    .footer__with__background{
        padding: 120px 16px 32px 16px;
        margin-top: -88px;
        width: 100%;
    }
}
