.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: calc(82px + 327px);
}

.section a {
	text-decoration: none;
	color: #000;
}

.section__header {
	margin: 0;
	font-size: 34px;
	line-height: 16px;
	text-align: left;
	margin-bottom: 30px;
	width: 100%;
}

.section__content {
	border: 1px solid #ffffff;
	border-top: none;
	border-radius: 0px 0px 8px 8px;
	padding: 19px 0px 19px 0px;
}

.section__image {
	width: 355px;
	height: 282px;
}

.setion__button {
	display: block;
	margin-left: auto;
}

.setion__button {
	display: flex;
	justify-content: flex-end;
	margin-top: 24px;
}

.section__slides {
	display: flex;
	gap: 60px;
}

.section__block_header {
	margin: 0;
	text-align: center;
	font-size: 18px;
	line-height: 148.02%;
	font-weight: bold;
	width: 338px;
}

@media (max-width: 1439px) {
	.section {
		margin-top: calc(207px + 80px);
	}

	.section__image {
		width: 285px;
		height: 282px;
		object-fit: cover;
	}

	.section__header {
		font-size: 30px;
		line-height: 128.5%;
		margin-bottom: 24px;
	}

	.section__slides {
		gap: 24px;
	}

	.section__block_header {
		font-size: 16px;
		line-height: 148.02%;
		max-width: 273px;
		margin-left: auto;
		margin-right: auto;
	}

	.section__slider {
		margin-top: 24px;
	}

	.section__content {
		padding: 12px 8px 12px 8px;
	}
}

@media (max-width: 1023px) {
	.section {
		margin-top: 80px;
	}

	.section__slider {
		margin-top: 0px;
	}

	.section__header {
		font-size: 24px;
	}

	.section__image {
		width: 200px;
		height: 197px;
	}

	.section__content {
		height: 90px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 12px 8px 10px 8px;
	}

	.section__block_header {
		max-width: 176px;
		font-size: 14px;
		line-height: 148.02%;
	}
}

@media (max-width: 767px) {
	.section {
		margin-top: 60px;
		margin-left: 16px;
		margin-right: 16px;
	}

	.section__image {
		width: 220px;
		height: 228px;
	}

	.section__slider {
		max-width: 100%;
		overflow-y: hidden;
		overflow-x: scroll;
		margin-top: 26px;
	}

	.section__slider::-webkit-scrollbar,
	.section__slides::-webkit-scrollbar {
		display: none !important;
	}

	.section__slides {
		overflow-x: scroll;
		position: relative;
		scroll-behavior: smooth;
		scroll-snap-type: x mandatory;
	}

	.section__header {
		font-size: 18px;
		line-height: 128.5%;
		margin-bottom: 0px;
		text-align: center;
	}

	.section__block_header {
		max-width: 100%;
	}

	.section__block {
		scroll-snap-align: center;
		transform-origin: center center;
		transform: scale(1);
		width: 285px;
		height: auto;
	}

	.section__content {
		max-width: 220px;
	}

	.section__image {
		max-width: 220px;
		height: auto;
	}

	.setion__button {
		margin-top: 30px;
		margin-right: auto;
	}
}
